body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

input, button {
  border: 0;
  background: 0;
  outline: none;
}

button {
  cursor: pointer;
  text-align: center;
  user-select: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1160px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.focusable--btns {
  transition: .30s;
}

.focusable--btns:hover {
  background: #EFF30A;
}

.focusable--btns:focus {
  background: #FAFF00;
}

@media only screen and (max-device-width: 1025px) {
  .container {
    width: 96%;
  }
}

.yoof__header {
  width: 100%;
  height: 102px;
  background: #fff;
  position: absolute;
  z-index: 999;
  margin-top: 470px;
  border-bottom: 3px solid #EBF005;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav_bar {
  width: 40px;
  height: 28px;
  cursor: pointer;
}

.nav_bar__item {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #000;
  display: block;
}

.nav_bar__item::before {
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background: #000;
  display: block;
  content: "";
  margin-top: 12px;
  position: absolute;
}

.nav_bar__item::after {
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background: #000;
  display: block;
  content: "";
  margin-top: 26px;
  position: absolute;
}

.header__nav_logo {
  margin: 0 auto;
}

.header__nav_logo > img {
  user-select: none;
}

.header__nav_interface {
  width: 30%;
  height: 50px;
  max-width: 318px;
  position: absolute;
  right: 0;
  font-size: .65em;
  display: flex;

}

.nav_interface__city {
  font-weight: 300;
}

.nav_inteface__city > i {
  color: #EBF005;
}

.nav_interface__authorization {
  width: 60%;
  display: flex;
  height: 40px;
  margin-left: 20px;
  align-items: center;
  padding-top: 8px;
}

.authorization__item {
  user-select: none;
  cursor: pointer;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: inherit;
  display: flex;
}

.authorization__item:nth-child(1) {
  border-right: 2px solid rgba(29, 140, 0, 0.5);
  margin-right: 10px;
}

.authorization__item:nth-child(2) {
  padding-left: 9px;
}

.nav_inteface__city--addaptive_version {
  display: none;
  font-size: .70em;
  margin-left: 85px;
  position: absolute;
}

.header__nav_bar--addaptive_version {
  display: none;
  width: 35px;
}

.yoof__banner {
  width: 100%;
  height: 1525px;
  background: url("../static/main.svg") center no-repeat;
  transform: rotateX(-21.8deg);
  margin-top: -470px;
}

.yoof__banner_inner {
  width: 100%;
  height: 881px;
  padding-top: 596px;
}

.banner_inner__search_box {
  width: 100%;
  height: 60px;
  margin-bottom: 68px;
  border-radius: 10px;
  background: #F8F8F8;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.banner_inner__search_box > img {
  position: absolute;
  color: #909090;
  margin-top: 22px;
  margin-left: 19px;
}

.banner_inner__search_input {
  width: 84%;
  line-height: 10px;
  height: inherit;
}

.banner_inner__search_input {
  padding-left: 60px;
}

.banner_inner__search_input::placeholder {
  padding-top: -10px;
  user-select: none;
  color: #909090;
  font-weight: 400;
  font-size: .80em;
}

.banner_inner__search_btn {
  position: absolute;
  z-index: 999;
  right: 0;
  width: 200px;
  background: #EBF005;
  border-radius: 10px;
  height: inherit;
  font-weight: 700;
  font-size: .70em;
  letter-spacing: 0.1em;
  line-height: 21px;
}

.banner_inner__add_filter {
  color: #fff;
  font-size: .65em;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  float: right;
  margin-right: 7px;
  position: relative;
}

.banner_inner__add_filter > img {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.banner_inner__banner {
  width: 100%;
  height: 479px;
  display: flex;
  margin-bottom: 20px;
}

.inner_banner__text_box {
  width: 50%;
  height: inherit;
}

.text_box__title {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  display: block;
  width: 71%;
  font-weight: bold;
  font-size: 2.80em;
  line-height: 124.68%;
  letter-spacing: 2%;
  max-width: 516px;
  height: 200px;
  border-bottom: 3px solid #EBF005;
}

.text_box__text {
  font-weight: 400;
  font-size: .70em;
  line-height: 22px;
  color: #fff;
  width: 67%;
}

.inner_banner__btn {
  width: 200px;
  height: 60px;
  margin-top: 50px;
  font-weight: 700;
  font-size: .70em;
  border-radius: 10px;
  background: #EBF005;

}

.inner_banner__img_box {
  width: 50%;
  height: inherit;
}

.inner__banner__texts_about {
  display: flex;
  width: 100%;
  height: 213px;
  margin-top: 50px;
}

.texts_about__text {
  color: #EBF005;
  font-weight: 200;
  font-size: .70em;
  display: block;
  width: 50%;
  height: inherit;
}

.about__text_item {
  text-align: center;
}

.texts_about__text:nth-child(2) {
  color: #1F670C;
  text-align: right;
  margin-top: 72px;
}

.inner_banner__btn--addaptive_version {
  display: none;
}

.yoof__about_slider {
  width: 100%;
  height: 630px;
}

.about_slider__container {
  position: relative;
}

.about_slider__text {
  max-width: 748px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.yoof__title {
  font-family: Oswald;
  line-height: 66px;
  width: 55%;
  margin: 0 auto;
  border-bottom: 3px solid #EBF005;
}

.yoof__about {
  font-weight: 600;
  font-size: .80em;
  text-align: center;
}

.about_slider__cards {
  width: 100%;
  max-width: 1040px;
  height: 310px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.about_slider__cards_truck {
  height: inherit;
  transition: 0.5s;
  display: flex;
  transform: translateX(0px);
}

.about_slider__arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #EBF005;
  border-radius: 50%;
  margin-top: 142px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  user-select: none;
}

.about_slider__arrow:nth-child(2) {
  right: 0;
}

.about_slider__card {
  width: 100%;
  display: flex;
  height: inherit;
  background: #FFFFFF;
  min-width: 1040px;
  padding: 30px;
}

.slider_card__img {
  width: 30%;
  max-width: 310px;
  height: 250px;
}

.slider_card__text_box {
  width: 70%;
  padding-left: 30px;
  height: 250px;
}

.registration_card {
  background: url("../static/registration_card.svg") center no-repeat;
}

.search_card {
  background: url("../static/search_card.svg") center no-repeat;
}

.auction_card {
  background: url("../static/auction_card.svg") center no-repeat;
}

.paid_card {
  background: url("../static/paid_card.svg") center no-repeat;
}

.result_card {
  background: url("../static/result_card.svg") center no-repeat;
}

.slider_card__title_box {
  width: 100%;
  padding-top: 2px;
  height: 30px;
  margin-bottom: 50px;
}

.slider_card__number {
  color: #1D8C00;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -4px;
  user-select: none;
}

.slider_card__title {
  position: absolute;
  width: 163px;
  height: 26px;
  background: #fff;
  font-weight: bold;
  margin-top: 22px;
  margin-left: -11px;
  line-height: 25px;
}

.slider_card__text {
  font-weight: 550;
  width: 300px;
  margin-bottom: 69px;
  font-size: .70em;
}

.slider_card__btns {
  display: flex;
  width: 278px;
  height: 60px;
  align-items: center;
  background: #EBF005;
  border-radius: 10px;
}

.slider_card__btn {
  width: 60%;
  align-items: center;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 21px;
  flex-shrink: 0;
  font-size: .70em;
}

.slider_card__btn:nth-child(1) {
  width: 40%;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

#search__title {
  margin-top: 21px;
  margin-left: -15px;
}

#search__text {
  margin-bottom: 30px;
}

#search__btns {
  width: 200px;
}

#search__btn {
  width: 100%;
  border: 0;
}

#auction__text {
  width: 100%;
  margin-bottom: 30px;
}

#paid_text {
  width: 100%;
  margin-bottom: 47px;
}

.slider_card__img--addaptive_version {
  display: none;
  width: 220px;
  margin-bottom: 24px;
  height: 240px;
}

.yoof__ourpartners {
  width: 100%;
  height: 413px;
  background: url("../static/ourpartners_bg.svg");
}

.ourpartners__container {
  padding-top: 50px;
}

.ourpartners__text_box {
  width: 598px;
  height: 100px;
  margin: 0 auto;
  font-weight: 650;
}

.ourpartners__title {
  border-bottom: 3px solid #EBF005;
  text-align: center;
  width: 414px;
  margin: 0 auto;
}

.ourpartners__text {
  width: 100%;
}

.ourpartners__companies_cards {
  width: 80%;
  height: 23px;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 130px;
}

.companies_cards__truck {
  width: 100%;
  height: inherit;
  display: flex;
  transition: 0.5s;
}

.cards_truck__item {
  width: 150px;
  margin-right: 20px;
  height: inherit;
  user-select: none;
  pointer-events: none;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .about_slider__arrow {
    z-index: 9;
  }
}

@media only screen and (max-device-width: 599px) {
  .about_slider__text {
    width: 100%;
    height: 257px;
    margin-bottom: 0;
  }

  .yoof__title {
    width: 100%;
    font-size: 1.50em;
    max-width: 309px;
  }

  .about_slider__cards {
    max-width: 330px;
    height: 520px;
  }

  .yoof__about_slider {
    height: 814px;
  }

  .about_slider__card {
    display: block;
    padding-top: 25px;
    padding-left: 15px;
  }

  .slider_card__text_box {
    padding-left: 0px;
    height: inherit;
  }

  .slider_card__img {
    display: none;
  }

  .slider_card__img--addaptive_version {
    display: block;
  }

  .slider_card__text {
    margin-bottom: 38px;
  }

  .registration_card {
    background: url("../static/addaptive_registration_card.svg") center no-repeat;
  }

  .auction_card {
    background: url("../static/addaptive_auction_card.svg") center no-repeat;
  }

  .result_card {
    background: url("../static/addaptive_result_card.svg") center no-repeat;
  }

  .search_card {
    background: url("../static/addaptive_search_card.svg") center no-repeat;
  }

  .paid_card {
    background: url("../static/addaptive_paid_card.svg") center no-repeat;
  }

  .slider_registration__btns {
    width: 100%;
    background: 0;
  }

  .slider_registration__btn {
    width: 140px;
    border: 0;
    border-radius: 10px;
    background: #EBF005;
    height: 40px;
  }

  .slider_card__btn:nth-child(1) {
    border: 0;
    width: 140px;
    margin-right: 10px;
  }

  .about_slider__arrow {
    z-index: 99;
    width: 30px;
    height: 30px;
    margin-top: 242px;
    font-size: .40em;
  }

  .about_slider__arrow:first-child {
    margin-left: -7px;
  }

  .slider_card__btns  {
    height: 40px;
  }

  .slider_card__img {
    margin-bottom: 15px;
  }

  .registration_card {
    margin-bottom: 37px;
  }

  .slider_card__text {
    width: 44%;
  }

  .registration_card {
    margin-bottom: 39px;
  }

  #auction__text {
    width: 44%;
    font-size: .55em;
    margin-bottom: 20px;
  }

  #paid_text {
    width: 44%;
    font-size: .58em;
    margin-bottom: 25px;
  }

  .slider_card__btns  {
    margin-left: -5px;
  }

  #search__title {
    margin-top: 25px;
  }

  .result_card {
    margin-bottom: 27px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  .yoof__title {
    font-size: 1.50em;
    width: 85%;
  }
}


@media only screen and (min-device-width: 1190px) and (max-device-width: 1325px) {
  .inner_banner__img_box {
    margin-left: -73px;
  }
}

@media only screen and (min-device-width: 1440px) {
  .text_box__title {
    width: 71%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .banner_inner__search_input {
    padding-left: 52px;
  }

  .banner_inner__search_input::placeholder {
    font-size: .70em;
  }

  .inner_banner__img_box > img {
    width: 382px;
    height: 271px;
    margin-top: 63px;
  }

  .text_box__title {
    font-size: 1.90em;
    height: 121px;
    width: 76%;
  }

  .inner__banner__texts_about {
    margin-top: 0px;
  }

  .yoof__banner {
    height: 1534px;
  }

  .texts_about__text:nth-child(2) {
    margin-top: 114px;
  }

  .banner_inner__banner {
    margin-bottom: 0px;
  }
}

@media only screen and (max-device-width: 580px) {
  .yoof__banner {
    transform: rotateX(-20.49deg);
    height: 1720px;
  }

  .yoof__banner_inner {
    height: 1079px;
  }

  .banner_inner__banner {
    display: block;
    height: 534px;
  }

  .inner__banner__texts_about {
    display: block;
  }

  .texts_about__text {
    width: 100%;
    height: 114px;
  }

  .texts_about__text:nth-child(1) {
    word-break: break-all;
    margin-top: -42px;
  }

  .inner__banner__texts_about {
    height: 338px;
  }

  .inner_banner__img_box {
    width: 100%;
    height: 204px;
  }

  .inner_banner__img_box > img {
    width: 289px;
    height: 204px;
  }

  .text_box__title {
    font-size: 1.60em;
  }

  .banner_inner__search_input {
    width: 43%;
    padding-left: 44px;
  }

  .banner_inner__search_input {
    font-size: .70em;
  }

  .banner_inner__search_input::placeholder {
    display: none;
    color: #F8F8F8;
    user-select: none;
  }

  .banner_inner__search_btn {
    width: 130px;
  }

  .inner_banner__text_box {
    width: 100%;
    height: 207px;
  }

  .text_box__title {
    height: 117px;
    width: 236px;
    margin-top: 94px;
  }

  .inner_banner__btn {
    display: none;
  }

  .inner_banner__btn--addaptive_version {
    display: block;
  }

  .banner_inner__add_filter {
    margin-top: 77px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 760px) {
  .inner_banner__img_box > img {
    margin-left: -84px;
  }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .nav_inteface__city {
    display: none;
  }

  .header__nav_interface {
    width: 210px;
    right: -8px;
  }

  .nav_interface__authorization {
    width: 80%;
  }

  .nav_inteface__city--addaptive_version {
    display: block;
  }

  .header__nav_logo > img {
    width: 173px;
    height: 42px;
  }
}

@media only screen and (max-device-width: 480px) {
  .header__nav_interface {
    display: none;
  }

  .header__nav_logo > img {
    width: 116px;
    height: 28px;
  }

  .header__nav_bar {
    display: none;
  }

  .nav_inteface__city--addaptive_version {
    display: block;
    margin-left: 6px;
  }

  .header__nav_bar--addaptive_version {
    display: block;
    position: absolute;
    right: 5px;
  }

  .header__nav_bar--addaptive_version > span {
    width: 35px;
  }


  .header__nav_bar--addaptive_version > span::before {
      width: 35px;
  }

  .header__nav_bar--addaptive_version > span::after {
      width: 35px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .cards_truck__item {
    margin-right: 24px;
  }
}

@media only screen and (max-device-width: 599px) {
  .ourpartners__companies_cards {
    overflow: hidden;
  }

  .yoof__ourpartners__title {
    width: 100%;
    max-width: 414px;
  }

  .ourpartners__title {
    width: 84%;
    font-size: 1.45em;
  }

  .yoof__ourpartners {
    background: url("../static/ourpartners__bg--addaptive.svg");
    height: 400px;
  }

  .ourpartners__text_box {
    width: 100%;
  }

  .ourpartners__text {
    text-align: center;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 366px) {
  .ourpartners__title {
    width: 94%;
  }
}

@media only screen and (min-device-width: 420px) and (max-device-width: 480px) {
  .ourpartners__title {
    width: 74%;
  }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 480px) {
  .ourpartners__title {
    width: 66%;
  }
}
