.yoof__banner {
  width: 100%;
  height: 1525px;
  background: url("../static/main.svg") center no-repeat;
  transform: rotateX(-21.8deg);
  margin-top: -470px;
}

.yoof__banner_inner {
  width: 100%;
  height: 881px;
  padding-top: 596px;
}

.banner_inner__search_box {
  width: 100%;
  height: 60px;
  margin-bottom: 68px;
  border-radius: 10px;
  background: #F8F8F8;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.banner_inner__search_box > img {
  position: absolute;
  color: #909090;
  margin-top: 22px;
  margin-left: 19px;
}

.banner_inner__search_input {
  width: 84%;
  line-height: 10px;
  height: inherit;
}

.banner_inner__search_input {
  padding-left: 60px;
}

.banner_inner__search_input::placeholder {
  padding-top: -10px;
  user-select: none;
  color: #909090;
  font-weight: 400;
  font-size: .80em;
}

.banner_inner__search_btn {
  position: absolute;
  z-index: 999;
  right: 0;
  width: 200px;
  background: #EBF005;
  border-radius: 10px;
  height: inherit;
  font-weight: 700;
  font-size: .70em;
  letter-spacing: 0.1em;
  line-height: 21px;
}

.banner_inner__add_filter {
  color: #fff;
  font-size: .65em;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  float: right;
  margin-right: 7px;
  position: relative;
}

.banner_inner__add_filter > img {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.banner_inner__banner {
  width: 100%;
  height: 479px;
  display: flex;
  margin-bottom: 20px;
}

.inner_banner__text_box {
  width: 50%;
  height: inherit;
}

.text_box__title {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  display: block;
  width: 71%;
  font-weight: bold;
  font-size: 2.80em;
  line-height: 124.68%;
  letter-spacing: 2%;
  max-width: 516px;
  height: 200px;
  border-bottom: 3px solid #EBF005;
}

.text_box__text {
  font-weight: 400;
  font-size: .70em;
  line-height: 22px;
  color: #fff;
  width: 67%;
}

.inner_banner__btn {
  width: 200px;
  height: 60px;
  margin-top: 50px;
  font-weight: 700;
  font-size: .70em;
  border-radius: 10px;
  background: #EBF005;

}

.inner_banner__img_box {
  width: 50%;
  height: inherit;
}

.inner__banner__texts_about {
  display: flex;
  width: 100%;
  height: 213px;
  margin-top: 50px;
}

.texts_about__text {
  color: #EBF005;
  font-weight: 200;
  font-size: .70em;
  display: block;
  width: 50%;
  height: inherit;
}

.about__text_item {
  text-align: center;
}

.texts_about__text:nth-child(2) {
  color: #1F670C;
  text-align: right;
  margin-top: 72px;
}

.inner_banner__btn--addaptive_version {
  display: none;
}

@media only screen and (min-device-width: 1190px) and (max-device-width: 1325px) {
  .inner_banner__img_box {
    margin-left: -73px;
  }
}

@media only screen and (min-device-width: 1440px) {
  .text_box__title {
    width: 71%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .banner_inner__search_input {
    padding-left: 52px;
  }

  .banner_inner__search_input::placeholder {
    font-size: .70em;
  }

  .inner_banner__img_box > img {
    width: 382px;
    height: 271px;
    margin-top: 63px;
  }

  .text_box__title {
    font-size: 1.90em;
    height: 121px;
    width: 76%;
  }

  .inner__banner__texts_about {
    margin-top: 0px;
  }

  .yoof__banner {
    height: 1534px;
  }

  .texts_about__text:nth-child(2) {
    margin-top: 114px;
  }

  .banner_inner__banner {
    margin-bottom: 0px;
  }
}

@media only screen and (max-device-width: 580px) {
  .yoof__banner {
    transform: rotateX(-20.49deg);
    height: 1720px;
  }

  .yoof__banner_inner {
    height: 1079px;
  }

  .banner_inner__banner {
    display: block;
    height: 534px;
  }

  .inner__banner__texts_about {
    display: block;
  }

  .texts_about__text {
    width: 100%;
    height: 114px;
  }

  .texts_about__text:nth-child(1) {
    word-break: break-all;
    margin-top: -42px;
  }

  .inner__banner__texts_about {
    height: 338px;
  }

  .inner_banner__img_box {
    width: 100%;
    height: 204px;
  }

  .inner_banner__img_box > img {
    width: 289px;
    height: 204px;
  }

  .text_box__title {
    font-size: 1.60em;
  }

  .banner_inner__search_input {
    width: 43%;
    padding-left: 44px;
  }

  .banner_inner__search_input {
    font-size: .70em;
  }

  .banner_inner__search_input::placeholder {
    display: none;
    color: #F8F8F8;
    user-select: none;
  }

  .banner_inner__search_btn {
    width: 130px;
  }

  .inner_banner__text_box {
    width: 100%;
    height: 207px;
  }

  .text_box__title {
    height: 117px;
    width: 236px;
    margin-top: 94px;
  }

  .inner_banner__btn {
    display: none;
  }

  .inner_banner__btn--addaptive_version {
    display: block;
  }

  .banner_inner__add_filter {
    margin-top: 77px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 760px) {
  .inner_banner__img_box > img {
    margin-left: -84px;
  }
}
