.black_bg {
  width: 100%;
  height: 3614px;
  margin-top: 470px;
  display: block;
  z-index: 99999;
  padding-top: 30px;
  font-family: Roboto;
  position: absolute;
  background: rgba(0, 0, 0, 60%);
}

.modal__authorization {
  width: 980px;
  min-height: 908px;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  display: none;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  cursor: pointer;
  user-select: none;
  width: 30px;
  height: 30px;
  background: #EBF005;
  border-radius: 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 20px;
}

.modal__close_times {
  width: 15px;
  height: 2px;
  display: block;
  margin-top: 14.2px;
  margin-left: 8px;
  transform: rotate(42deg);
  background: #000;
}

.modal__close_times::before {
  content: "";
  width: 15px;
  height: 2px;
  transform: rotate(95deg);
  display: block;
  background: #000;
}

.authorization__tabs_btns {
  width: 420px;
  height: 60px;
  margin: 0 auto;
  margin-top: 60px;
}

.tabs_btns__btn {
  background: #fff;
  width: 200px;
  height: inherit;
  border-radius: 10px;
  border: 1px solid #EBF005;
  font-weight: bold;
  user-select: none;
  font-size: .70em;
}

.tabs_btns__btn:nth-child(1) {
  margin-right: 10px;
}

.activeTabsBtn {
  background: #EBF005;
}

.activeTabsBtn:hover {
  background: #EFF30A;
}

.activeTabsBtn:focus {
  background: #FAFF00;
}

.authorization__tabs {
  width: 100%;
}

.authorization__tab {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.authorization_tab__title {
  text-align: center;
  font-weight: bolder;
  font-size: .80em;
  line-height: 25px;
  margin-bottom: 36px;
}

.autorization_tab__checkeds {
  display: flex;
  margin: 0 auto;
  width: 439px;
}

.tab_checkeds__checked {
  font-weight: 700;
  font-size: .70em;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  user-select: none;
  cursor: pointer;
  font-size: .60em;
  margin-right: 20px;
}

.tab_checkeds__checked:nth-child(1) {
  margin-right: 66px;
}

.tab_checkeds__checked > span {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #34971A;
}

.tab_checkeds__checked > span::before {
  width: 15px;
  height: 15px;
  display: none;
  content: "";
  border-radius: 50%;
  background: #34971A;
}

.activeChecked > span::before {
  display: block;
}

.authorization__registration_tabs {
  width: 100%;
}

.registration_tabs__tab {
  width: 100%;
  height: 100%;
  padding-top: 63px;
}

.registration__row_inputs {
  width: 801px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;
}

.row_inputs__box {
  width: 260px;
  height: inherit;
  max-height: 100px;
}

.row_inputs__box:nth-child(1) {
  margin-right: 15px;
}

.row_inputs__box:nth-child(2) {
  margin-right: 15px;
}

.row_inputs__description {
  font-weight: 400;
  font-style: normal;
  font-size: .70em;
  margin-left: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.row_inputs__input {
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  height: 60px;
  min-width: 260px;
  border-radius: 10px;
  background: #fff;
  font-size: .80em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.description__forgot {
  position: absolute;
  right: 0;
  color: #5F5F5F;
  font-size: .80em;
  cursor: pointer;
}


.description__forgot:hover {
  text-decoration: underline;
}

.registration__btn {
  width: 260px;
  height: 60px;
  margin: 0 auto;
  background: #EBF005;
  border-radius: 10px;
  font-weight: bold;
  font-size: .70em;
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
}

.registration__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: .80em;
}

.registration__socials {
  text-align: center;
}

.registration__socials > img {
  margin-right: 20px;
}

.authorization__enter_tabs {
  width: 100%;
}

.authorization__enter_tab {
  width: 100%;
  padding-top: 80px;
}

.enter__tabs_rows {
  width: 539px;
}

.modal__enter_email {
  width: 100%;
  max-width: 980px;
  height: 576px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  padding: 15px;
  display: none;
}

.enter_email__title {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin-top: 110px;
  margin-bottom: 60px;
}

.enter_email__inputs_box {
  margin: 0 auto;
  margin-bottom: 0px;
}

.modal__message_send_email {
  position: relative;
  width: 80%;
  max-width: 980px;
  height: 576px;
  background: #fff;
  margin: 0 auto;
  display: none;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.message_send_email__massage_box {
  width: 60%;
  max-width: 674px;
  height: 226px;
  margin: 0 auto;
  border: 1px solid #EBF005;
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
}

.message_send_email__massage_box > p {
  font-weight: 500;
  font-size: .80em;
}

.modal__change_password {
  width: 100%;
  max-width: 980px;
  height: 576px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .modal__authorization {
    width: 768px;
    height: 938px;
  }

  .registration__row_inputs {
    width: 693px;
  }

  .row_inputs__box {
    width: 220px;
  }

  .row_inputs__input {
    min-width: 220px;
  }

  #description--addaptive {
    font-size: .62em;
  }

  .enter__tabs_rows {
    width: 481px;
  }

  .black_bg {
    height: 3984px;
  }
}

@media only screen and (max-device-width: 599px) {
  .modal__authorization {
    width: 100%;
    max-width: 375px;
  }

  .registration__row_inputs {
    display: block;
    height: 344px;
    width: 100%;
    max-width: 262px;
  }

  .autorization_tab__checkeds {
    width: 100%;
    display: block;
  }

  .tabs_btns__btn {
    max-width: 160px;
    width: 46%;
  }

  .authorization__tabs_btns {
    width: 100%;
    max-width: 337px;
  }

  .tab_checkeds__checked {
    margin-bottom: 10px;
  }

  .row_inputs__box {
    margin-top: 26px;
    margin-right: 0;
  }

  .row_inputs__box:nth-child(1) {
    margin-right: 0;
  }

  .row_inputs__box:nth-child(2) {
    margin-right: 0;
  }

  .registration_tabs__tab  {
    padding-top: 20px;
  }

  .registration__btn {
    margin-top: 31px;
    margin-bottom: 58px;
  }

  .black_bg {
    height: 4907px;
  }

  .enter__tabs_rows {
    height: 224px;
    margin-bottom: 20px;
  }

  .authorization__enter_tab  {
    padding-top: 14px;
  }

  .modal__enter_email {
    max-width: 375px;
    height: 463px;
  }

  .enter_email__title {
    margin-top: 60px;
    width: 65%;
    max-width: 255px;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 20px;
    text-align: left;
  }

  .enter_email__inputs_box {
    display: block;
    margin: 0 auto;
  }

  .modal__message_send_email {
    width: 100%;
    max-width: 375px;
    height: 501px;
  }

  .message_send_email__massage_box {
    width: 100%;
    max-width: 325px;
  }

  .message_send_email__massage_box > p {
    font-size: .70em;
    margin-bottom: 30px;
  }

  .message_send_email__title {
    margin-top: 81px;
    width: 100%;
    font-size: .80em;
    margin-bottom: 50px;
  }
}
