.black_bg {
  width: 100%;
  height: 3614px;
  margin-top: 470px;
  display: block;
  z-index: 99999;
  padding-top: 30px;
  font-family: Roboto;
  position: absolute;
  background: rgba(0, 0, 0, 60%);
}

.modal__authorization {
  width: 980px;
  height: 908px;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  cursor: pointer;
  user-select: none;
  width: 30px;
  height: 30px;
  background: #EBF005;
  border-radius: 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 20px;
}

.modal__close_times {
  width: 15px;
  height: 2px;
  display: block;
  margin-top: 14.2px;
  margin-left: 8px;
  transform: rotate(42deg);
  background: #000;
}

.modal__close_times::before {
  content: "";
  width: 15px;
  height: 2px;
  transform: rotate(95deg);
  display: block;
  background: #000;
}

.authorization__tabs_btns {
  width: 420px;
  height: 60px;
  margin: 0 auto;
  margin-top: 60px;
}

.tabs_btns__btn {
  background: #fff;
  width: 200px;
  height: inherit;
  border-radius: 10px;
  border: 1px solid #EBF005;
  font-weight: bold;
  user-select: none;
  font-size: .70em;
}

.tabs_btns__btn:nth-child(1) {
  margin-right: 10px;
}

.activeTabsBtn {
  background: #EBF005;
}

.activeTabsBtn:hover {
  background: #EFF30A;
}

.activeTabsBtn:focus {
  background: #FAFF00;
}

.authorization__tabs {
  width: 100%;
  height: 800px;
}

.authorization__tab {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.authorization_tab__title {
  text-align: center;
  font-weight: bolder;
  font-size: .80em;
  line-height: 25px;
  margin-bottom: 36px;
}

.autorization_tab__checkeds {
  display: flex;
  margin: 0 auto;
  width: 439px;
}

.tab_checkeds__checked {
  font-weight: 700;
  font-size: .70em;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  user-select: none;
  cursor: pointer;
  font-size: .60em;
  margin-right: 20px;
}

.tab_checkeds__checked:nth-child(1) {
  margin-right: 66px;
}

.tab_checkeds__checked > span {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #34971A;
}

.tab_checkeds__checked > span::before {
  width: 15px;
  height: 15px;
  display: none;
  content: "";
  border-radius: 50%;
  background: #34971A;
}

.activeChecked > span::before {
  display: block;
}

.authorization__registration_tabs {
  width: 100%;
  height: 638px;
}

.registration_tabs__tab {
  width: 100%;
  height: 100%;
  padding-top: 63px;
}

.registration__row_inputs {
  width: 801px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;
}

.row_inputs__box {
  width: 260px;
  height: inherit;
}

.row_inputs__box:nth-child(1) {
  margin-right: 15px;
}

.row_inputs__box:nth-child(2) {
  margin-right: 15px;
}

.row_inputs__description {
  font-weight: 400;
  font-style: normal;
  font-size: .70em;
  margin-left: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.row_inputs__input {
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  height: 60px;
  min-width: 260px;
  border-radius: 10px;
  background: #fff;
  font-size: .80em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.description__forgot {
  position: absolute;
  right: 0;
  color: #5F5F5F;
  font-size: .80em;
  cursor: pointer;
}


.description__forgot:hover {
  text-decoration: underline;
}

.registration__btn {
  width: 260px;
  height: 60px;
  margin: 0 auto;
  background: #EBF005;
  border-radius: 10px;
  font-weight: bold;
  font-size: .70em;
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
}

.registration__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: .80em;
}

.registration__socials {
  text-align: center;
}

.registration__socials > img {
  margin-right: 20px;
}

.authorization__enter_tabs {
  width: 100%;
  height: 638px;
}

.authorization__enter_tab {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

.enter__tabs_rows {
  width: 539px;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  
}
